*__pycache__/
*.py[cod]

build
dist

*.ipynb
.ipynb*
.ipynb*/
.ipynb_checkpoints
Untitled.ipynb

.idea/
.coverage
venv/
runs/
results.csv
.eggs/
*.egg-info

dooku_key
*.swp

test_report/

save_checkpoint*


**/*.aux
**/*.log
**/*.bbl
**/*.blg
**/*.out
**/*.gz
*.jpg
.idea
**/.DS_Store

config/*_local.gin
.venv
.vscode/
model/
predicted/
preprocessed/
report/

play.py
